<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Protégez votre véhicule avec des protections céramiques et graphène">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="/node_modules/mburger-css/dist/mburger.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/global.css">

    <link href="/node_modules/mmenu-js/dist/mmenu.css" rel="stylesheet" type="text/css">
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% include '@front/_includes/navbar.html.twig' %}
<div {% if app.request.get('_route') != 'home' %}class="content"{% endif %}>
{% block body %}{% endblock %}
</div>
<div class="footer">
    <div style="background-color: #191919; color: white">
        <div class="container row m-auto p-5">
            <div class="col-md-4">
                <p class="text-uppercase">Coordonnées</p>
                <p style="color: #555555">10 Rue des Dahlias <br/>68540 Bollwiller</p>
                <hr style="background-color: white">
                <p style="color: #555555">Tel : 06 11 03 10 03 <br/>E-mail : soscleancar@yahoo.com</p>
            </div>
            <div class="col-md-4">
                <p class="text-uppercase">Réseaux sociaux</p>
                <ul class="pl-0" style="list-style: none; color: #555555">
                    <li><a href="https://fr-fr.facebook.com/soscleancar/">Facebook</a></li>
                    <li><a href="https://www.instagram.com/sos_cleancar/">Instagram</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div style="background-color: #111111">
        <div class="container p-3" style="font-size: 13px">
            <span style="color: #555555">www.soscleancar.com</span> - {#<a href="{{ path('contact') }}">Contact</a> -#} <a
                    href="{{ path('legals.index', {'id': 2}) }}">Mentions légales</a>
        </div>
    </div>
</div>
<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>

<script src="/node_modules/mmenu-js/dist/mmenu.js"></script>
<script src="/node_modules/mmenu-js/dist/mmenu.polyfills.js"></script>
<script src="/js/mmenu-js.config.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
